<div class="main">
  <h2>{{ candidateName }}</h2>
  <div>
    <label for="candidate-skill">Candidate Skill</label>
    <input
      type="number"
      id="candidate-skill"
      (input)="changeInput($event)"
      [value]="selectedCandidate?.experience"
    />
  </div>
  <div>
    <label for="candidate-name">Candidate Name</label>
    <input
      type="text"
      id="candidate-name"
      (input)="changeName($event)"
      [value]="selectedCandidate?.name"
    />
  </div>
  <div>
    <button (click)="removeCandidate()">Borrar Candidato</button>
  </div>
  <button (click)="toggleDirection()">Cambiar lista</button>
  <div>
    <h3>
      Número de candidatos <span>{{ getCandidatesLength() }}</span>
    </h3>
  </div>
  <div>
    <app-candidate-list #list>
      <h2 title>Lista de candidatos</h2>
      <div *ngFor="let candidate of candidates">
        <app-candidate
          [candidate]="candidate"
          (select)="selectCandidate($event)"
        ></app-candidate>
      </div>
    </app-candidate-list>
  </div>
</div>
